<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>About Page</title>
    </head>

    <body>
        {{> header}}
        <p>Some text here. AKJn asdilk  Knlkdjfh. Hkjshf apo! jhslfah.adkfjha d, asjfhk uasdkdj na.</p>
    {{> footer}}
    </body>
</html>